<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

  <div layout:fragment="header">

    <header>
      <nav class="navbar navbar-expand-sm navbar-light bg-info">
        <a class="navbar-brand h1" href="/">Tayutora</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item " th:if="${session.user.name_user}==null">
              <a href="/users/new" class="nav-link">新規会員登録</a>
            </li>
            <li class="nav-item">
              <a th:if="${session.user.name_user}==null" href="/login" class="nav-link">ログイン</a>
              <a th:if="${session.user.name_user}!=null" href="/user_update2" class="nav-link"
                th:text="${session.user.name_user}"></a>
            </li>

            <li class="nav-item " th:if="${session.user.name_user}!=null ">
              <a href="/user/reserves" class="nav-link">予約の確認</a>
            </li>
            <li class="nav-item" th:if="${session.user.admin}==1">
              <a href="/hotels/create" class="nav-link">新規ホテル</a>
            </li>
            <li class="nav-item" th:if="${session.user.admin}==1">
              <a href="/reserved/rooms" class="nav-link">予約状況の確認</a>
            </li>
            <li class="nav-item" th:if="${session.user.admin}==1">
              <a href="/users" class="nav-link">ユーザー情報</a>
            </li>
            <li class="nav-item" th:if="${session.user.name_user}!=null">
              <a href="/logout" class="nav-link">ログアウト</a>
            </li>

          </ul>
          <form action="/location" method="post" class="form-inline my-2 my-lg-0">
            <select name="category" class="form-control">
              <option value="0" selected>すべて表示</option>
              <div th:each="category:${session.categories}">
                <option th:value="${category.code}" th:text="${category.name_hotel}"></option>
              </div>
            </select>
            <input type="submit" value="検索" class="btn btn-primary my-2 my-sm-0 ml-2">
          </form>
        </div>
      </nav>



    </header>

  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>

</body>

</html>